# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.cache
*.egg-info/
dist/
build/
*.egg
.env
venv/
.venv/
env/
.pytest_cache/
.mypy_cache/
.tox/
htmlcov/
.coverage

# Arquivos de Configuração Local e Logs
settings.json
*.log

# IDE e SO
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
